article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
}

/*  Header  */

.header {
  position: fixed;
  z-index: 1;
  display: flex;''
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.header-container {
  display: flex;
  min-width: 90vw;
  position: relative;
  z-index: 35;
  opacity: 0;
  transition: all 0.25s ease-in;
}

.fade-in {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

@media (max-width: 768px) {
  .header-container {
/*  width: 100vw;
    height: 10vh;
    background-color: #FFF;*/
  }
}

.header-logobox {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.header-img {
  width: 360px;
  position: absolute;
  top: 20px;
}
  
@media (max-width: 768px) {
  .header-img{
    width: 200px;
  }
}

.menu-icon-mobile {
  display: none;
}

@media (max-width: 768px) {
  .menu-icon-mobile {
    display: block;
    width: 26px;
    margin: 15px 10px;
  }
}

.menu-list {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 20px;
  right: 15px;
}

@media (max-width: 768px) {
  .menu-list {
    display: none;
  }
}

.menu-list a {
  text-decoration: none;
}

.menu-item {
  list-style: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(0,0,0);
  font-size: 1rem;
  font-weight: 700;
  margin-right: 20px; 
}

.header-social {
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-between;
  position: fixed;
  right: 20px;
  top: 65vh;
}

@media (max-width: 768px) {
  .header-social{
    display: none
  }
}

.social-icon {
  width: 45px;
}

/*  Home  */
.home {
  background-image: url("../img/Vista-Aerea.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0;
  max-width: 100vw;
}

@media (max-width: 768px) {
  .home {
    background-position: initial;
    flex-direction: column;
    padding-top: 50vh;
  }
}

.home-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 247, 247);
  width: 50vw;
  min-height: 100vh;
  position: relative;
}
  
@media (max-width: 768px) {
  .home-column {
    flex-direction: column;
    width: 100vw;
    min-height: 50vh;
    position: initial;
  }
}

.home-center {
  position: absolute;
  height: 100vh;
  width: 100vw;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .home-center {
    top: 0;
    height: 90vh;
  }
}

.home-img {
  width: 420px;
  transform: rotate(-5deg);
  position: absolute;
}

@media (max-width: 768px) {
  .home-img {
    width: 275px;
  }
}

.home-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%
}

@media (max-width: 768px) {
  .home-description {
    width: 232px;
    align-items: flex-start;
  }
}

.home-title {
  font-family: Introdução;
  font-size: 7.9375rem;
  color: rgb(255, 0, 112);
  text-align: left;
  margin: 0;
}

@media (max-width: 768px) {
  .home-title {
    font-size: 4rem;
  }
}

.home-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .home-text {
    font-size: 1rem;
  }
}

.home-span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  position: absolute;
  bottom: 40px;
  left: 14vw;
}

@media (max-width: 768px) {
  .home-span {
    display: none;
  }
}
/*  Belief  */

.belief .container {
  justify-content: center;
  align-items: center;
  position: relative;
}

.belief-span {
  font-family: SkyhookMonoRegular;
  font-size: 1rem;
  position: absolute;
  top: 40px;
  left: 40px;
}

.belief-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.belief-intro canvas {
  width: 50vw;
  height: 40vw;
  position: relative;
}



@media (max-width: 768px) {
  .belief-intro {
    min-height: 50vh
  }
  .belief-intro #scene {
    width: 75vw;
    height: 40vh;
  }
}

.belief-title {
  font-family: Introdução;
  font-size: 4.375rem;
  text-align: center;
  width: 35%;
  position: absolute;
  margin: auto;
}

@media (max-width: 768px) {
  .belief-title {
    font-size: 2.07rem;
    width: 35%;
    min-width: 235px;
  }
}

.belief-description {
  align-self: flex-end;
  width: 50%;
}

@media (max-width: 768px) {
  .belief-description {
    width: 100%;
    align-self: center;        
  }
}

.belief-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 34px;
  width: 70%;
}

@media (max-width: 768px) {
  .belief-text {
    font-size: 1.06rem;
    width: 100%;
  }
}

/*  Cases   */
.cases .container {
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 60px;  
}

.cases-span {
  font-family: SkyhookMonoRegular;
  font-size: 1rem;
  position: absolute;
  top: 40px;
  left: 40px;
}

.cases-box {
  display: flex;
  justify-content: space-around;
  width: 80vw;
}

@media (max-width: 768px) {
  .cases-box {
    flex-direction: column;
  }
}

.cases-item {
  width: 20vw;
}

@media (max-width: 768px) {
  .cases-item {
    width: 80vw;
  }
}


.cases-img {
  width: 100%;
}

.cases-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.375rem;
  line-height: 36px;
  font-weight: 700;
}

.cases-show {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.125rem;
  position: absolute;
  bottom: 0
}

/*  Services    */
.services .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 100px 0 0 0;
}

@media (max-width: 768px) {
  .services .container {
    flex-direction: column;
  }
}

.services-span {
  font-family: SkyhookMonoRegular;
  font-size: 1rem;
  position: absolute;
  top: 40px;
  left: 40px;
}

.services-column1,
.services-column2 {
  width: 45%;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .services-column1,
  .services-column2 {
    width: 100%
  }
}

.services-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 32px;
  align-self: center;
  width: 70%;
  font-weight: 600;
  margin-top: 100px;
}

.services-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.services-box span {
  padding: 0px 10px 10px;
  background-color: rgb(255, 221, 0);
}

.services-box-subtitle {
  font-family: Introdução;
  font-size: 2rem;
  line-height: 32px;
  font-weight: 800;
  margin: 0;
  margin-top: -6px;
}

.services-box-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.25rem;
  line-height: 32px;
  width: 250px;
  margin-top: 0;
}

.services-box-img {
  width: 400px;
}

.box-startupin {
  margin-top: 150px;
}

.box-startupin-subtitle {
  align-self: flex-end;
  margin-right: 60px;
} 

.box-startupin-text,
.box-social-text {
  align-self: flex-end;
}

.box-startupin-img {
  align-self: flex-start;
}

.box-social {
  align-items: flex-end;
  margin-right: 50px;
}

.box-social-subtitle {
  margin-right: 30px;
}

.box-bios,
.box-cloud {
  align-items: flex-start;
}

.box-bios-subtitle {
  margin-left: 10px;
}

.box-bios-text {
  margin-left: 20px;
}

.box-cloud-subtitle {
  margin-left: 10px;
}

.box-cloud-text {
  margin-left: 20px;
}

.box-cloud-img {
  align-self: flex-end;
}

@media (max-width: 768px) {
  .box-startupin-subtitle,
  .box-social-subtitle,
  .box-bios-subtitle,
  .box-cloud-subtitle {
    align-self: center;
  }

  .box-startupin-text,
  .box-social-text,
  .box-bios-text,
  .box-cloud-text {
    margin: 0;
    align-self: center;
    width: 260px;
  }

  .box-startupin-img,
  .box-social-img,
  .box-bios-img,
  .box-cloud-img {
    width: 100%
  }
}

/*  Contact  */

.contact {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
  min-height: 100vh;
 background-image: url("../img/contato-ruido.gif");
}

/*.contact canvas {
  width: 100vw;
  height: 100vh;
}
*/
/*.contact::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 221, 0);
  opacity: 0.8;
}*/

.contact .container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.contact-box {
  position: relative;
  width: 50%;
  margin: auto;
}

@media (max-width: 768px) {
  .contact .container {
    height: 100vh;
  }

  .contact-description {
    width: 280px;
  }
}

@media (max-width: 425px) {
  .contact-box {
    width: auto;
  }
}

.contact-description-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.125rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 10px 0px 0px 4px #000, -10px 0px 0px 4px #000;
  background: #000;
  display: inline;
}

.contact-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-address-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 56px;
  font-weight: 900;
  color: rgb(256, 256, 256);
  box-shadow: 14px 0px 0px 0px #000, -14px 0px 0px 0px #000;
  background: #000;
  display: inline;
  margin: 5px 0;
}

@media (max-width: 425px) {
  .contact-description-text {
    font-size: 1.75rem;
    line-height: 46px;
  }

  .contact-address-text {
    font-size: 1.125rem;
    line-height: 34px;
  }

}

.contact-social {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-left: -60px;
  margin-bottom: 5vh;
}

@media (max-width: 768px) {
  .contact-social{
    justify-content: space-between;
    flex-flow: row wrap;
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 425px) {
    .contact-social{
    width: 300px;
    margin-bottom: 0;
    }
}

.contact-social a {
  color: black;
  margin-right: 30px;
}

.contact-social-text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(0, 0, 0);
  box-shadow: 0px 0px 0px 10px rgb(255, 221, 0);
  background: rgb(255, 221, 0);
  display: inline;
}

@media (max-width: 768px) {
  .contact-social-text {
    font-size: 1rem;
    padding: 10px;
    box-shadow: 10px 0 0 0 rgb(255, 221, 0), -10px 0 0 0 rgb(255, 221, 0);
  }
  .contact-social a {
    margin-right: 0px;
  }
}

@media (max-width: 768px) {
  .contact-social-text {
    padding: 6px;
    box-shadow: 6px 0 0 0 rgb(255, 221, 0), -6px 0 0 0 rgb(255, 221, 0);
  }
}

.contact-development {
  font-family: SkyhookMonoBold;
  font-size: .75rem;
  box-shadow: 10px 0 0 0 white, -10px 0 0 0 white;
  background-color: white;
  padding: 5px 0;
}

.contact-development a {
  margin: 0;
}

@media (max-width: 768px) {
  .contact-development {
    margin: 20px auto 0 0;
  }
}

@media (max-width: 768px) {
  .contact-development {
    font-family: SkyhookMonoBold;
    font-size: .75rem;
    box-shadow: 6px 0 0 0 white, -6px 0 0 0 white;
    background-color: white;
    padding: 5px 0;
  }
}